<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: 30px;font-weight:500">MENAA Mahdi</mat-card-title>
        <mat-card-subtitle>Computer Science Student</mat-card-subtitle>
    </mat-card-header>

    <div class="container overflow-hidden">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3 "><i class="fas fa-mail-bulk"></i> Email</div>
            </div>
            <div class="col">
                <div class="p-3">mahdi.menaa@ensi-uma.tn</div>
            </div>
        </div>
    </div>

    <div class="container1 overflow-hidden">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3" style="margin-left: 31px;"><i class="fab fa-linkedin"></i> LinkedIn</div>
            </div>
            <div class="col">
                <div class="p-3">https://github.com/Bouchka99/</div>
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3"><i class="fas fa-mobile-alt"></i> Téléphone</div>
            </div>
            <div class="col">
                <div class="p-3">(+216)58878149</div>
            </div>
        </div>
    </div>

    <div class="container1 overflow-hidden">
        <div class="row gx-5">
            <div class="col">

                <div class="p-3" style="margin-left: 31px;"> <i class="fas fa-map-marked"></i> Adresse</div>
            </div>
            <div class="col">
                <div class="p-3">Route Bouzaienne klm 4.5 Sfax Tunisie</div>
            </div>
        </div>
    </div>


    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
<p>
</p>