<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="font-size: 30px;font-weight:500">MENAA Mahdi</mat-card-title>
        <mat-card-subtitle>Computer Science Student</mat-card-subtitle>
    </mat-card-header>
    <mdb-carousel [animation]="'fade'">
        <mdb-carousel-item>
            <img src="assets/mahdi.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide </h5>
                <p>Journé de lancement du club CPS "Citoyens Positifs et Sociables -2021-"
                </p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi3.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide </h5>
                <p>Modérateur de la compétition tout terrain du RobaCup ENSI -2022-</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi4.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide </h5>
                <p>Modérateur de la compétition tout terrain du RobaCup ENSI -2022-</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi8.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Forth slide </h5>
                <p>Modérateur de la compétition tout terrain du RobaCup ENSI -2022-</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi10.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Fiveth slide </h5>
                <p>Modérateur de la compétition tout terrain du RobaCup ENSI -2022-</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi2.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Sixth slide </h5>
                <p>Participation au lancement du club Musique ENSI -2022-</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi11.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Seventh slide </h5>
                <p>Participation au lancement du club Musique ENSI -2022-</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi12.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Eighth slide </h5>
                <p>Stagiaire chez ZETABOX -2022-</p>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <img src="assets/mahdi13.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
                <h5>Nineth slide </h5>
                <p>Stagiaire chez ZETABOX -2022-</p>
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
    <mat-card-content>
        <p class="body-2">
            Je suis actuellement étudiant en troisième année du cycle d'ingénieur en informatique à l'Ecole Nationale des Sciences de l'Informatique
            <b>ENSI</b>, spécialité Génie Logiciel GL.
        </p>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>
<p>
</p>>